<h1>Pokemon list</h1>

<section>
  @if(loading) {
  <div>loading...</div>
  } @else { @for (pokemon of pokemonData.results; track pokemon.id) {

  <div style="display: flex; align-items: center">
    <img [src]="pokemon.image" width="60px" height="60px" />
    <p>{{ pokemon.name }}</p>
  </div>

  } @empty { No Pokemons data } }
</section>

@if(!loading && pokemonData.results.length > 0) {

<section style="display: flex; gap: 10px">
  <button (click)="previousPage()" [disabled]="!pokemonData.previous">
    Previous
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="!pokemonData.next">Next</button>
</section>

}
