<h1>Pokemon list</h1>

<section>
  @if(loading) {
  <div style="padding-bottom: 600px">loading...</div>
  } @else { @for (pokemon of pokemonData.results; track pokemon.name) {

  <div style="display: flex; align-items: center">
    <img [src]="pokemon.image" width="60px" height="60px" />
    <p>{{ pokemon.name }}</p>
  </div>

  } @empty { No Pokemons } }
</section>

<section style="display: flex; gap: 10px">
  <button (click)="previousPage()" [disabled]="!pokemonData.previous">
    Previous
  </button>
  <span>Page {{ current + 1 }} of {{ pokemonData.count }}</span>
  <button (click)="nextPage()" [disabled]="!pokemonData.next">Next</button>
</section>
